<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="path" value="E:\Warehouse"/>
    <add key="references" value="SwfDotNet.IO.dll" />
    <add key="log" value="log.txt"/>
    <add key="connectionTimeout" value="30000"/>
    <add key="downloadTimeout" value="3000000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <system.net>
  <settings>
    <httpWebRequest useUnsafeHeaderParsing="true" />
  </settings>
  <defaultProxy>
   <proxy bypassonlocal="false" usesystemdefault="true" />
  </defaultProxy>
 </system.net>
</configuration>